body, html{
	width:100%;
	height: 100%;
	margin:auto;
/*	background-image:url(https://raw.githubusercontent.com/JohnL3/Photos/master/zeros2.jpg);*/
	overflow-x: hidden;
}
.container{
	max-width: 990px;
	margin: auto;
}

.header{
position: fixed;
	max-width:100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width:990px;
	height: 60px;
	background-color: #e20404;
	padding: 5px 0 5px 0;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 3;
	color:white;
	box-shadow: 0 2px 6px 2px rgba(179,49,45,0.85);
}
.list{
	-webkit-box-flex: 3;
        -ms-flex-positive: 3;
            -webkit-flex-grow: 3;
	        flex-grow: 3;
	padding-top: 10px;
}
.list  li{
	display: block;
	font-size: 0.7em;
	margin-left: 30px;

}
 ul{
	margin-bottom: 0;
	padding-left: 0;
}
.list :first-child{
	font-weight: 800;
}
.header-li{
	display: none;
	list-style-type: none;
	font-size: 0.9em;
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	margin-top: 7px;
}
.header-li li:hover{
	color:#e6d7d7;
}
.header-li ul li{
	list-style-type: none;
	padding:5px 5px;
	display: inline;
	cursor: pointer;
	margin-right: 15px;
}
.header-li ul{
	margin-top: 0;
}
.list ul{
	margin-top:10px;
}
.fa{
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	border: 2px solid orange;
	padding: 7px 5px 7px 5px;
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	
}
.head-drop{
	position: fixed;
	top: 70px;
	background-color: #f9f9f9;
	width: 100%;
	font-size: 0.7em;
	display: none;
	z-index: 4;
	padding:10px 0 10px 0;
	border-bottom: 1px solid grey;
}
.head-drop li{
	list-style-type: none;
	padding: 5px 0 0 5px;
	cursor: pointer;
}
.head-drop li:hover{
	background-color: #c5c3c3;
}
.head-drop ul{
	padding-left: 25px;
}
/* --------------------------------------------*/
.about{
	position:absolute;
	top:50px;
	max-width:990px;
	width:100%;
	margin: auto;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #ce1e1e;
	background: rgb(109,0,0); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(315deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%);
	background: linear-gradient(135deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0000', endColorstr='#cc0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.about-inner{
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 90%;
  height: 60%;
  text-align: center;
  box-sizing: border-box;
}
.about-inner h1{
	
	margin-bottom: 10px;
	color:white;
}
.about-inner span{
	font-size: 24px;
	color:white;
}
/* --------------------------------------------*/
.projects{
	position: absolute;
	top: 100%;
	max-width: 990px;
	margin: auto;
	width: 100%;
	
	background-color: white;
	z-index: 1;
}
.projects-header{
	text-align: center;
	margin-top: 20px;
}
.img-div{

	width:100%;
	background-color: white;
	margin: auto;
	margin:0 2px 0 0;
		display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        -webkit-align-items: flex-start;
	        align-items: flex-start;
}
.img-caption{
	padding: 8px 0;
}
.img-caption p{
	margin: 5px 0;
}
.img-a{
  width: 318px;
  background-color: white;
  border:1px solid #a7a0a0;
  margin-bottom: 30px;
  text-align: center;
}

img{
	
	width: 100%;
	

}

/* -------------------------------------------- */

.contact-outer{
	width:100%;
	background: rgb(109,0,0); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(315deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%);
	background: linear-gradient(135deg,  rgba(109,0,0,1) 1%,rgba(114,1,0,1) 25%,rgba(158,28,0,1) 54%,rgba(204,0,0,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0000', endColorstr='#cc0000',GradientType=1 );
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
}
.contact-icons{
	box-sizing: border-box;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;
}
.contact{
	padding-top: 20px;
	padding-bottom: 20px;
	color:white;
	width:100%;
}

.con-name span,.con-email span,.con-msg span{
	margin-left: 10%;
}

input{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
	margin-top: 5px;
	width:80%;
	height: 20px;
}
textarea{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
}
input, textarea{
	padding-left: 5px;
	
}
button{
	margin-left: 10%;
	margin-top: 10px;
}
hr{
	width:60%;
	margin-bottom: 40px;
}
.footer p{
	margin-bottom: 10px;
}
   .footer{
   	width:100%;
   	height: 17px;
   	color:white;
   	font-size: 10px;
   	background-color: #190606;
   	padding-top: 9px;
   	text-align: center;
   	border-top: 1px solid black;
   }
   .footer span{
   margin-left: 20px;
   }



@media (min-width:426px) {
	.img-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    -webkit-justify-content: space-around;
	        justify-content: space-around;
	margin:0;
	}
	.img-a{
		width:239px;
		
	}
	img{
	margin:0;	
	}
		.fa{
		display:none;
	}
	.list{
		-webkit-box-flex:4;
    	-ms-flex-positive:4;
        -webkit-flex-grow:4;
		        flex-grow:4;
	}
	.header-li{
		-webkit-box-flex:1;
    	-ms-flex-positive:1;
        -webkit-flex-grow:1;
		        flex-grow:1;
		display:inline;
		
	}
	.header-li li{
		margin-right:30px;
		float:right;
	}
	.head-drop{
		display:none;
	}
	.about-inner h1{
  		font-size:40px;
  }
	.about-inner span{
  		font-size: 40px;
  }
  .contact-outer{
  	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
  }
	.contact{
		width:50%;
	}
	.contact-icons{
		display:block;
		width:50%;
	}
	.contact-outer{
		-ms-flex-wrap:nowrap;
	    -webkit-flex-wrap:nowrap;
		        flex-wrap:nowrap;
	}
}
@media(min-width:760px){

 	.about-inner h1{
  	font-size:50px;
  }
 	.about-inner span{
  	font-size: 50px;
  }
  textarea{
  	width:85%;
  	margin-right:5%;
  }
  input{
  	width:85%;
  	margin-right:5%;
  }
  .contact-icons{
  	padding:0 40px;
  }

}
@media (min-width:965px) {
	.img-a{
		width:318px;
	}
	.img-div{
		width:990px;
	}
}

